@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@100;300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box !important;
    font-family: 'Alegreya Sans SC', sans-serif;
}

/* INDEX */

.loguito__nav{
    max-height: 3rem;
}
.texto_main{
    margin-top: 4rem;
    margin-bottom: 2.5rem;
    color:#000000;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    
}
.card__img{
    max-block-size: 65vh;
    max-inline-size: 60vh;
}

.titulo_menu_hamburguesas,.titulo_menu_bebidas{
    color: rgb(0, 0, 0);
    margin-block: 2rem;
    text-align: center; 
}



/* Hamburguesas */

.burga{ 
    display: flex ;
    padding: 20px;
    justify-content: center;
    background-color: #ececec;
    margin: 10px;
}

.burga_img{
    border-radius: 10px;
}

.contenedor_texto_menu{
    color: rgb(0, 0, 0);
    padding: 20px;
    margin-left: 20px;
    margin-right: 200px; 
}

.contenedor_texto_descripcion{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-weight: 500;
    
}
.contenedor_texto_precio{
    display: flex;
    margin-top: 2rem;
    color:rgb(0, 0, 0);
    font-weight: 400;
}
.precio1,.precio2,.precio3{
    margin-left: 20px;
    border: 1px solid #000000;
    padding: .5rem; 
}


/* Bebidas */
.bebida_img{
    max-width: 100%;
}
.texto__carta{
    margin-left: 5rem;
}


/* contacto */
.contenedor_contacto{
  
    align-items: center;
    gap: 4rem;
    margin-left: 5rem;

}
.horarios{
    list-style-type: none;
    margin-block: 3rem;
}
.item_horario{
    font-size: 20px;
}
.mapa{
    margin-left: 2rem;
}


/* Footer */
.contenedor_footer{
    display: flex;
    background-color: #ececec;
    margin-top: 5rem;
}

.contenedor_info_footer{
    margin: auto;
    margin-top: 2rem;
}
.titulo_footer,.direc_footer{
    text-align: center;
    font-weight: bold;
}
.loguito1_footer,.loguito2_footer{
    margin-top: 2.2rem;
}
.boton_footer{

    border: .5px solid rgba(102, 26, 26, 0.853);
    justify-content: center;
    
}
.boton_footer a{
    text-decoration: none;
    color: #000000;
    padding: 5px ;
}
.contenedor_boton{
    display: flex;
    background-color: #ececec ;
    justify-content: center;
    padding: 1.5rem;
}
.ul_footer li{
    font-size: 1.2rem;
}

/* Animaciones */
    .burga_img:hover{
        transform: scale(1.1);
        transition: 1s;
    }
    .precio1:hover,.precio2:hover,.precio3:hover{
        background-color: darkred;
        color: white;
        transition: 1s;
    }

    .contain_card_bebida:hover{
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    }
    .galeria_img:hover{
        transform: scale(1.1);
    }
  


/* MediaQ */

@media screen and (max-width:768px){

    
    .burga{
        
        display: inline-block;
    }
    .burga_img{
        margin-left: 25%;
    }
    .contenedor_texto_menu{
        max-width: 100%;
    }
    .contenedor_texto_descripcion{
        margin-left: 25%;
        
        font-weight: 400;
    }
    .contenedor_texto_precio{
        margin-left: 25%;
        font-size: 1rem;
        font-weight: 300;
    }
    .contain_bebida{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (max-width:680px) {
 

    .loguito1_footer,.loguito2_footer{
        max-width: 100px;
        max-height: 120px;
    }
    .loguito_footer{
        object-fit: cover;
         max-width: 100%;
         max-height: 100%;
    }
    
    .titulo_footer{
        font-size: 25px;
    }
    .direc_footer{
        font-size: 17px;
    }
    .ul_footer{
        display:inline-flex;
        flex-wrap:nowrap;
        
    }
    .ul_footer li{
        font-size: 17px;
    }
    .icon_footer{
        font-size:17px;
    }


    .burga{
        display: inline-block;
   
    }
    .burga_img{
        margin-left: 25%;
    }
    .contenedor_texto_menu{
        max-width: 100%;
    }
    .contenedor_texto_descripcion{
        margin-left: 25%;
        font-size: 1rem;
        font-weight: 400;
    }
    .contenedor_texto_precio{
        margin-left: 25%;
        font-size: .9rem;
        font-weight: 300;
    }


}
@media screen and (max-width: 630px){
    .loguito1_footer,.loguito2_footer{
        max-width: 80px;
        max-height: 100px;
    }
    .loguito_footer{
        object-fit: cover;
         max-width: 100%;
         max-height: 100%;
    }
    
    .titulo_footer{
        font-size: 20px;
    }
    .direc_footer{
        font-size: 14px;
    }
    .ul_footer{
        display:inline-flex;
        flex-wrap:nowrap;
        
    }
    .ul_footer li{
        font-size: 13px;
    }
    .icon_footer{
        font-size:13px;
    }
    
}
@media screen and (max-width: 480px){

    .parrafo_main1{
        font-size: 17px;
    }
    .loguito1_footer,.loguito2_footer{
        max-width: 60px;
        max-height: 80px;
    }
    .loguito_footer{
        object-fit: cover;
         max-width: 100%;
         max-height: 100%;
    }
    
    .titulo_footer{
        font-size: 18px;
    }
    .direc_footer{
        font-size: 13px;
    }
    .ul_footer{
        display:inline-flex;
        flex-wrap:nowrap;
        
    }
    .ul_footer li{
        font-size: 10px;
    }
    .icon_footer{
        font-size:10px;
    }


    .burga{
        display: inline-block;
   
    }
    .burga_img{
        margin-left: 25%;
    }
    .contenedor_texto_menu{
        max-width: 100%;
    }
    .contenedor_texto_descripcion{
        margin-left: 25%;
        font-size: .9rem;
        font-weight: 400;
    }
    .contenedor_texto_precio{
        margin-left: 25%;
        font-size: .7rem;
        font-weight: 300;
    }

}








